<% layout('layouts/boilerplate.ejs') -%>
<script>
  const mapToken = "<%-process.env.MAP_BOX_TOKEN%>";
  const campgrounds = { features: <%- JSON.stringify(allGrounds) %>}
</script>
<div id="map" style="width: 100%; height: 500px"></div>
<h1>All CampGrounds</h1>

<div class="row row-cols-1 row-cols-md-4 g-4">
  <% for(let grounds of allGrounds){%>

  <div class="col">
    <div class="card h-100">
      <% if(grounds.images.length>0){ %>
      <img src="<%= grounds.images[0].url %>" class="card-img-top" alt="..." />
      <% }else{ %> <img src=" class="card-img-top" alt="..." /> <% } %>
      <div class="card-body">
        <h5 class="card-title"><%= grounds.title %></h5>
        <p class="card-text"><%= grounds.description %></p>
      </div>
      <a href="/campgrounds/<%= grounds._id %>" class="btn btn-primary"
        >Details</a
      >
    </div>
  </div>

  <% } %>
</div>

<script src="/scripts/clusterMap.js"></script>
