<% layout('layouts/boilerplate.ejs') -%>
<script>
  const mapToken = "<%-process.env.MAP_BOX_TOKEN%>";
  const campground = <%-JSON.stringify(ground)%>;
</script>
<link rel="stylesheet" href="/styles/stars.css" />
<div class="row">
  <div class="col-6">
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <% ground.images.forEach((img,ind)=>{ %>
        <div class="carousel-item <%= ind===0 ? 'active' : '' %>">
          <img src="<%= img.url %>" class="d-block w-100" alt="..." />
        </div>
        <% }) %>
      </div>
      <% if(ground.images.length>1){ %>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
      <% } %>
    </div>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title"><%= ground.title %></h5>
        <p class="card-text"><%= ground.description %></p>

        <h6 class="card-subtitle mb-2">$<%= ground.price %>/night</h6>
        <p class="card-text">
          <small class="text-body-secondary"><%= ground.location %></small>
        </p>

        <% if(user && user.id === ground.owner.id ){ %>
        <a href="/campgrounds/<%= ground._id %>/edit" class="btn btn-info"
          >Edit</a
        >
        <form
          class="d-inline"
          action="/campgrounds/<%= ground._id %>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-primary">Delete</button>
        </form>
        <% } %>
      </div>
      <div class="card-footer">
        <h6>Created by: <%= ground.owner.username %></h6>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div id="map" style="width: 100%; height: 300px"></div>

    <% if(user){ %>
    <form
      action="/campgrounds/<%= ground._id %>/reviews"
      class="needs-validation"
      novalidate
      method="POST"
    >
      <div class="container mb-2">
        <h2>Tell us how much you liked it!!</h2>
        <fieldset class="starability-slot">
          <legend>First rating:</legend>
          <input
            type="radio"
            id="no-rate"
            class="input-no-rate"
            name="rating"
            value="0"
            checked
            aria-label="No rating."
          />
          <input type="radio" id="first-rate1" name="rating" value="1" />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input type="radio" id="first-rate2" name="rating" value="2" />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input type="radio" id="first-rate3" name="rating" value="3" />
          <label for="first-rate3" title="Average">3 stars</label>
          <input type="radio" id="first-rate4" name="rating" value="4" />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input type="radio" id="first-rate5" name="rating" value="5" />
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>
        <label class="form-label" for="review">Review</label>
        <textarea
          name="body"
          id="review"
          cols="30"
          rows="4"
          class="form-control mb-2"
          required
        ></textarea>

        <button class="btn btn-primary">Submit</button>
      </div>
    </form>
    <% } %>
    <div>
      <% for(review of ground.reviews){ %>

      <div class="mb-3 card">
        <div class="card-body">
          <h5 class="card-title"><%= review.owner.username %></h5>

          <p>Review: <%= review.body %></p>
          <p>Rating: <span><%= review.rating %></span></p>
          <fieldset class="starability-slot">
            <p class="starability-result" data-rating="<%= review.rating %>">
              Rated: 3 stars
            </p>
          </fieldset>
        </div>
        <% if(user && user._id.equals(review.owner.id) ){ %>
        <form
          action="/campgrounds/<%= ground._id %>/reviews/<%= review._id %>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-danger mb-2 mx-2">Delete</button>
        </form>
        <% } %>
      </div>
      <% } %>
    </div>
  </div>
</div>

<script src="/scripts/showMap.js"></script>
